@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	text-align: center;
	background-color: #011f3f;
}

#level-title {
	font-family: 'Press Start 2P', cursive;
	font-size: 2.5rem;
	margin: 3rem;
	color: #fef2bf;
	line-height: 1.5;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 19rem);
	grid-template-rows: repeat(2, 19rem);
	gap: 1.5rem;
	margin: auto;
	place-items: center;
	place-content: center;
}

.btn {
	height: calc(100% - 1rem);
	width: calc(100% - 1rem);
	border: 0.5rem solid black;
	border-radius: 1.5rem;
	cursor: pointer;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}

.restart {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
	padding: 1rem 4rem;
	border: 0.3rem solid black;
	letter-spacing: 0.2rem;
	color: #323232;
	background-color: #faf4ff;
	grid-column: 1/-1;
	border-radius: 1rem;
	margin-top: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}

	.container {
		grid-template-columns: repeat(2, 15rem);
		grid-template-rows: repeat(2, 15rem);
		gap: 1rem;
	}

	#level-title {
		font-size: 2rem;
		line-height: 1.6;
	}
}
